body {
  background-image: url('img/pizzawallpaper.jpg');
  background-color: #cccccc;
}

.container {
  padding: 30px;
}

.well {
  background-color: #f4bf42;
}

 h1 {
   font-family: 'VT323', monospace;
   text-align: center;
 }

h3 {
  font-family: 'VT323', monospace;
}

h2 {
  font-family: 'VT323', monospace;
}
#everything-else {

}

#toppings {
  padding: 20px;
  float: right;
}

#topping-header {
  text-indent: 220px;
}

#toppings1 {
  float: left;
}

#toppings2 {
}

#order-output {
  float: right;
  height: 180px;
  width: 500px;
}

#pizzasToOrder {
  font-family: 'VT323', monospace;
  font-size: 30px;
}
