body {
  background-image: url('img/pizzawallpaper.jpg');
  background-color: #cccccc;
}

.container {
  padding: 30px;
}

 h1 {
   font-family: 'VT323', monospace;
   text-align: center;
 }

#everything-else {

}

#toppings {
  padding: 20px;
  float: right;
}

#topping-header {
  text-indent: 250px;
}

#toppings1 {
  float: left;
}

#toppings2 {
}

#pizza img {
  width:60px;
  height:auto;
}
