body {
  background-image: url('img/pizzawallpaper.jpg');
  background-color: #cccccc;
}

.container {
  padding: 30px;
}

 h1 {
   font-family: 'VT323', monospace;
   text-align: center;
 }

#everything-else {

}

#toppings {
  padding: 20px;
  float: right;
}

#topping-header {
  text-indent: 220px;
}

#toppings1 {
  float: left;
}

#toppings2 {
}

#order-output {
  float: right;
  height: 180px;
  width: 500px;
}
